*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    letter-spacing: .6px;
}

body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: #7E8082;
}

a:active{
    cursor: wait;
}

.atul_login_box{
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0, 0.5);
    visibility: hidden;
    position: absolute;
    top: 0;
    z-index: 3;
}

.popUPOfLoginBox{
    visibility: visible;
    position: fixed;
    top: 0;
}

.login_main_box{
    min-height: 80vh;
    height: auto;
    width: 50vw;
    background-image: url(/Auctionly/images/login_background.png);
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 16px 50px 16px;
}

.adjust_login_main_box{
    height: 97vh;
    width: 50vw;
    position: absolute;
}

#login_pswd{
    padding-right: 20px;
}

.login_comp_img{
    position: absolute;
    left: 5%;
    height: 7vh;
    width: 8vw;
    background-color: rgb(0, 0, 0, 0.6);
    background-image: url(/Auctionly/images/logo.png);
    background-size: cover;
}

.signup_box{
    height: auto;
    width: auto;
    visibility: hidden;
}

.popUPOfsignUpBox{
    visibility: visible;
}

/* create acc box */

.createAcc_box{
    position: relative;
    top: -50%;
    height: 65vh;
    visibility: hidden;
}

.popUPOfcreateAcc{
    visibility: visible;
}

.login_content{
    height: 65vh;
    width: 64.5%;
    padding: 0px 12px 0px 12px;
    margin-left: 26%;
}

.adjust_login_content_createAcc{
    height: 83vh;
    margin-left: 28%;
}

#login_content_description{
    color: #585858;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .6px;
}

#login_close{
    position: absolute;
    top: 3%;
    right: 5%;
    font-size: 25px;
    color: #585858;
    cursor: pointer;
}

.login_content_heading{
    display: flex;
    position: relative;
    top: 50px;
    z-index: 1;
}

.login_content_heading button{
    text-align: center;
    width: 234px;
    height: 37px;
    background-color: transparent;
    border: none;
    color: #ababab;
    border-bottom: 1px solid #ababab;
    cursor: pointer;
}

#login_content_heading_formatting{
    color: #2d2d2d;
    border-bottom: 2px solid #e74b52;
}

#for_input_margin{
    margin-bottom: 25px;
}

form .input_formatting{
    border: none;
    height: 8.5vh;
    width: 100%;
    font-size: 16px;
    position: relative;
    top: 80px;
    background-color: #ffffff;
    margin-bottom:10px ;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-indent:35px ;
}

#login_checkbox{
    position: relative;
    top: 15vh;
}

form input:focus{
    border: none;
    outline: none;
}

.login_button_div{
    position: relative;
    top: 115px;
    height: 117px;
    display: flex;
    justify-content: center;
    align-items: end;
}

#login_button{
    height: 50px;
    width: 270px;
    border-radius: 15px;
    border: none;
    padding: 0px 30px 0px 30px;
    color: #ffffff;
    font-weight: 600;
    background: linear-gradient(to right, #b45156 0%, #e74b52 100%);
    cursor: pointer;
}

#forget_password{
    color: #b45156;
    font-size: 12px;
    position: relative;
    top: 90px;
    left: 75%;
    text-decoration: none;
}

#otp{
    position: relative;
    top: 145px;
    left: -5px;
    color: #2d2d2d;
    font-size: 14px;
    text-align: center;
    letter-spacing: .7px;
}

/* -------------------inside menu by A.K---------------------------------------- */

.inside_menu{
    height: 100vh;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    z-index: 3;
    visibility: hidden;
}

.popUPOfInsideMenu{
    visibility: visible;
    position: fixed;
    top: 0;
}

.inside_menu_navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12%;
    width: 100%;
    background-color: #1F2A52;
    margin-bottom: 20px;
}

.inside_menu_navbar_img{
    height: 50%;
    width: 7%;
    position: relative;
    left: -40%;
    color: white;
    background-image: url(/Auctionly/images/logo.png);
    background-size: cover;
}

.inside_menu_navbar_close{
    font-size: 2.4rem;
    color: black;
    position: relative;
    right: -41%;
    color: grey;
}

.inside_menu_navbar_close:hover{
    color: #b45156;
    cursor: pointer;
}

.inside_menu_box{
    margin-top: 2vh;
    margin-left: 4vh;
    display: flex;
    height: 42vh;
    width: 96%;
}

.inside_menu_boxes{
    height: 100%;
    width: 25%;
    margin: 1px;
    background-color: #EAEEF2;
}

.inside_menu_boxes h3{
    color: #B45156;
}

.inside_menu_boxes p{
    position: relative;
    top: 29px;
    color: #7E8082;
    font-weight: 500;
    font-size: 16px;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.inside_menu_boxes_content{
    margin: 48px 6px 48px 48px;
    height: 60%;
    width: 80%;
}

.inside_menu_buttons{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 10%;

}

.inside_menu_buttons div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 216px;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    font-size: 16px;
    font-weight: 600;
    background-color: #2d2d2d;
    color: white;
}

.inside_menu_buttons div a{
    color: white;
}

.inside_menu_buttons div:hover{
    cursor: pointer;
}

#inside_menu_signIn{
    background: linear-gradient(to right, #b45156 0%, #e74b52 100%);
}

#inside_menu_space{
    background-color: transparent;
    width: 20%;
    cursor: default;
}

/*********************ARNAV KA CSS ********************************** */

.main-nav-bar{
    position: fixed;
    z-index: 1;
    height: 82px;
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 2%;
    background-color: transparent;
    transition: background-color 0.4s ease;
}

.main-nav-contents{
    left: 20%;
    position: relative;
    justify-items: center;
}

.main-nav-contents:hover{
    color: #EC1B24;
    cursor: pointer;
    font-weight: 600;   
}


.main-nav-menu{
    height: 100%;   
    background-color: #1F2A52;
    color: #ffffff;
    position: absolute;
    right: 0;
    width: 12.2vw;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 0;
}

.main-nav-menu:hover{
    cursor: pointer;
    
}

.main-nav-bar-logo{
    height: 7vh;
    width: 8vw;
    position: absolute;
    top: 1.5vh;
    left: 4vw;
    background-image: url(/Auctionly/images/logo.png);
    background-size: cover;
}

.neela-dabba{
    background-color:#1F2A52 ;
    height: 83.5vh;
    width: 39.7vw;
    position: relative;
    bottom: 82px;
    z-index: -1;
}

.search-icon-navbar:hover{
    border: 1px solid #EC1B24;
    background-color:#EC1B24;
    color: white;
    border-radius: 50%;
    padding: 8px;
}

.search-icon-navbar{
    border: 1px solid transparent;
    background-color:transparent;
    border-radius: 50%;
    padding: 8px;
    position: relative;
    right: 1.5vw;
}




/* ----------------------------------Aneesh-styling for search box ------------------------------ */

.modal-body-container{
    background-color: rgb(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 2;
    visibility: hidden;
}

.popUPOfSearch{
    visibility: visible;
    position: fixed;
    transform: scale(1);
    top: 0;
    left: 0%;
    animation-name: ffff;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

@keyframes ffff {
    0% {opacity: 0;}
    100% {opacity: 0.5;}
}

#modal-body{
    height: 100vh;
    width: 40.3vw;
    background-color: #EAEEF2;
    padding: 30px 25px 30px 25px;
    position: absolute;
    right: 0;
}

#recent-search{
    height: 12vh;
    width: 36vw;
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    margin-top: 5vh;
    
}

#search{
    height: 40px;
    width: 551px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#search i{
    position: absolute;
    left: 2.5vw;
    color: #A9AEB4;
    font-size: larger;
}

#search p{
    position: absolute;
    right: 2.5vw;
    font-size: 3rem;
    color: #A9AEB4;

}

#search-here{
    height: 7vh;
    width: 36vw;
    border-radius: 4px;
    background-color: #EAEEF2;
    border: none;
    border-bottom: 1px dashed #C8B290;
    outline: none;
    text-indent: 4vw;
    color: #A9AEB4;
}

#search-here:focus{
    color: black;
}

#search p:hover{
    cursor: pointer;
    color: black;
}


/* ----------------------slides------------------------------------------ */

.slide_container{
    display: flex;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50vh;
    width: 90vw;
}

.slide_container .slides{
    height: 87%;
    width: 36%;
    position: absolute;
    top: 6.7%;
    left: 10.7%;
    background-image: url(/Auctionly/images/Contact-us.jpg);
    background-size: cover;
    border: 9px solid #1F2A52;
}

.slide_container .slides_border{
    height: 97%;
    width: 29.5%;
    position: relative;
    left: 9.55%;
    top: 1.6%;
    z-index: -1;
    background: linear-gradient(to right, #475071, #313C60);

}

.slide_container .slides_content{
    height: 100%;
    width: 50%;
    position: absolute;
    top: 25%;
    right: 0;
    font-size: 1rem;

}

.slides_content h3{
    position: absolute;
    top: 10%;
    margin-left: 5%;
    font-size: 3.125rem;
    font-weight: 700;
    letter-spacing: 0.88px;
    color: #000;
}

.slides_content h6{
    position: absolute;
    top: 0%;
    margin-left: 5%;
    font-size: 1rem;
    color: #b45156;
}

   /* -----------------------------------------contact  US  by aneesh--------------------------- */

#para-1{
    font-size: 16px;
    font-family: poppins sans-serif;
    margin-bottom: 16px;
    margin-left: 5%;
    color: #2d2d2d;
    position: absolute;
    top: 30%;
    height: 54px;
    width: 520px;
}

#para-2{
    font-size: 16px;
    font-family: poppins sans-serif;
    margin-left: 5%;
    color: #2d2d2d;
    position: absolute;
    top: 48%;
    height: 54px;
    width: 520px; 
}

#section-contactUs{
    height: 280px;
    width: 140%;
    position: absolute;
    top: 114.5%;
    left: 0px;
}

#row{
    position: absolute;
    top: 15.7%;
    width: 1000px;
    height: 236px;
    margin-left: 220px;
    margin-right: 100px;
}

#LEFT-SIDE{
    width: 445px;
    height: 236px;
}

#RIGHT-SIDE{
    width: 555px;
    height: 236px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

#head-office-info{
    height: 130px;
    width: 400px;
    margin-bottom: 20px;
    border-bottom: 1px dotted #1F2A52;
    margin-left: -100px;
}

#head-photo{
    margin-right: 15px;
    margin-left: 2px;
    margin-top: 2px;
}

#HEAD-OFFICE-HEADLINE{
    height: 26px;
    width: 421.33px;
    color: #b45156;
    font-size: 25px;
    font-family: poppins sans-serif;
    margin-bottom: 20px;
}

#office-para{
    width: 421.33px;
    height: 63px;
    font-size: 14px;
    font-family: poppins sans-serif;
    color: #1F2A52;
    margin-left: 5px;
}

#gallery-info{
    height: 95px;
    width: 555px;
    margin-bottom: 15px;
    border-bottom: 1px dotted #1F2A52;
    margin-left: 40px;
}

#GALLERY-HEADLINE{
    height: 26px;
    width: 421.33px;
    color: #b45156;
    font-size: 25px;
    font-family: poppins sans-serif;
    margin-bottom: 20px;
}

#gallery-photo{
    margin-right: 15px;
    margin-left: 6px;
    margin-top: 6px;
}

#gallery-para{
    width: 421.33px;
    height: 63px;
    font-size: 14px;
    font-family: poppins sans-serif;
    color: #1F2A52;
    margin-left: 5px;
}

#bottom-side{
    height: 106px;
    width: 445px;
    position: absolute;
    bottom: 0px;
}

#phone-info{
    height: 106px;
    width: 160px;
    margin-left: -100px;
}

#phone-headline{
    height: 26px;
    width: 421.33px;
    color: #b45156;
    font-size: 25px;
    font-family: poppins sans-serif;
    margin-bottom: 20px;
    margin-top: 10px;
}

#phone-photo{
    height: 25px;
    width: 25px;
    margin-right: 15px;
    margin-left: 2px;
    margin-top: 2px;
}

#phone-num{
    width: 421.33px;
    height: 63px;
    font-size: 14px;
    font-family: poppins sans-serif;
    color: #1F2A52;
    margin-left: 5px;
}

#email-info{
    height: 106px;
    width: 285px;
    position: absolute;
    left: 160px;
    bottom: 0px;
    margin-left: -80px;
}

#email-headline{
    height: 26px;
    width: 421.33px;
    color: #b45156;
    font-size: 25px;
    font-family: poppins sans-serif;
    margin-bottom: 20px;
    margin-top: 10px;
}

#email-photo{
    height: 24px;
    width: 28px;
    margin-right: 15px;
    margin-left: 5px;
    margin-top: 2px;
}

#email-ids{
    width: 421.33px;
    height: 63px;
    font-size: 14px;
    font-family: poppins sans-serif;
    color: #1F2A52;
    margin-left: 5px;
}

 /*---------------------------------- get in touch form  by aneesh --------------------------------*/

#get-touch-form{
    height: 525px;
    width: 100%;
    position: absolute;
    top: 280px;
    padding: 70px 100px 0px 100px;
    
}
#form-wala-dibba{
    height: 480px;
    width: 1110px;
    background-color: #f7fafd;
    padding: 20px;
    position: absolute;
    left: 145px;
    bottom: 0px;

}
#form-left-side{
    padding: 30px;
    height: 444px;
    width: 620px;
}
#form-ki-heading{
    font-size: 25px;
    color: #000;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-top: 15px;
    font-family: poppins sans-serif;
    
}
#form-para{
    text-transform: capitalize;
    font-size: 14px;
    font-family: sans-serif;
    padding-bottom: 16px;
    padding-left: 10px;
    padding-top: 0px;
    color: #000;

}
#div-name{
    height: 80px;
    width: 250px;
    padding: 0px 12px 0px 12px;
    
}
#name-box{
    width: 210px;
    height: 60px;
    background-color: #ffffff;
    padding: 6px 12px 6px 60px ;
    margin: 0px 0px 20px -1px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

#pic-1{
    height: 34px;
    width: 40px;
    position: absolute;
    left: 70px;
    top: 150px;
}
#text-box-name-wala{
    border: none;
    outline: none;
    height: 60px;
    width: 162.4px;
    position: absolute;
    left: 33.8px;
    top: -16px;
    font-size: 16px;
    text-indent: 0.5vw;
}
#text-box-email-wala{
    border: none;
    outline: none;
    height: 60px;
    width: 167px;
    position: absolute;
    left: 33.8px;
    top: -16px;
    font-size: 16px;
    text-indent: 0.5vw;
}

#div-email{
    height: 80px;
    width: 280px;
    padding: 0px 12px 0px 12px;
    position: absolute;
    left: 320px;
    bottom: 264px;
}
#email-box{
    width: 220px;
    height: 60px;
    background-color: #ffffff;
    padding: 6px 12px 6px 60px ;
    margin: 0px 0px 20px -1px;
    position: absolute;
    left: 0px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#pic-2{
    height: 34px;
    width: 40px;
    position: absolute;
    left: 10px;
    bottom: 10px;
}
#div-phone{
    height: 70px;
    width: 475px;
    padding: 0px 12px 0px 12px;
    background-color: #ffffff;
    margin-left: 12px;
}
#phone-box{
    width: 400px;
    height: 70px;
    background-color: #ffffff;
    padding: 6px 12px 6px 60px ;
    margin: 0px 0px 20px -1px;
    position: absolute;
    left: 140px;
    box-shadow: rgba(149, 157, 165, 0.2) 8px 8px 24px;
    
}
#pic-3{
    height: 34px;
    width: 40px;
    position: absolute;
    left: -53px;
    bottom: 15px;
}
#text-box-mobile-wala{
    border: none;
    outline: none;
    height: 70px;
    width: 400px;
    position: absolute;
    left: 140px;
    top: 215px;
    font-size: 16px;
    text-indent: 1vw;
}
#div-ques{
    height: 70px;
    width: 400px;
    padding: 0px 12px 0px 12px;
    background-color: #ffffff;
    margin-left: 12px;
    margin-top: 20px;
    position: absolute;
    top: 280px;
    left: 50px;

}
#ques-box{
    width: 330px;
    height: 70px;
    background-color: #ffffff;
    padding: 6px 12px 6px 60px ;
    margin: 0px 0px 20px -1px;
    position: absolute;
    left: 140px;
    box-shadow: rgba(149, 157, 165, 0.2) 8px 8px 24px;
}
#pic-4{
    height: 34px;
    width: 40px;
    position: absolute;
    left: -115px;
    bottom: 15px;

    
}
#text-box-ques-wala{
    border: none;
    outline: none;
    height: 70px;
    width: 395px;
    position: absolute;
    left: -55px;
    top: 0px;
    font-size: 16px;
    text-indent: 1vw;
}

#submit-button{
    height: 50px;
    width: 140px;
    border-radius: 15px;
    border: none;
    padding: 0px 30px 0px 30px;
    color: #ffffff;
    font-weight: 600;
    background: linear-gradient(to right, #b45156 0%, #e74b52 100%);
    cursor: pointer;
    position: absolute;
    top: 400px;
    left: 60px;
}


/********************upcoming-arnav**************************/

.newsletter-box{
    height: 34vh;
    width: 100%;
    position: relative;
    top: 775px;
}

.newsletter-box-contents{
    height: 100%;
    width: 90%;
    background-color: #F3E8E9;
    position: relative;
    left: 5%;
}

.subscribe-text{
    font-size: xx-large;
    display: flex;
    gap: 20px;
    padding-top: 2.5%
}

.red-text-subscribe{
    color: #b45156;
    position: relative;
    padding-left: 25%;
    font-weight: 900;
}

.our-text-subscribe{
    font-weight: 900;
}


.input-details-nl{
    display: flex;
    position: relative;
    left: 15%;
    top: 10%;
}

.wrapper{
    width: 450px;
    background: #F3E8E9;
    padding: 30px;
  }
.wrapper .input-data{
  height: 40px;
  width: 100%;
  position: relative;
  background-color: #F3E8E9;
}
.wrapper .input-data input{
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid silver;
  background: #F3E8E9;
  outline: none;
}
.input-data input:focus ~ label,
.input-data input:valid ~ label{
  transform: translateY(-20px);
  font-size: 15px;
}
.wrapper .input-data label{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.1s ease;
  
}
.input-data .underline{
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.1s ease;
}
.submit-button-letterbox{
    height:7vh;
    width: 12%;
    left: 45%;  
    position: relative;
    top: 20%;
    font-weight: bolder;
}  

.submit-button-letterbox:hover{
    cursor: pointer;
}

.button-text{
    background:  linear-gradient(to right, #b45156 0%, #e74b52 100%);
    color: white;
    position: relative;
    top: -1vh;
    display: flex;
    align-items: center;
    justify-items: center;
    height: 100%;
    border-radius: 14px;
    padding-left: 27%;
}

.neela-dabba-footer{
    height: 110vh;
    width: 100%;
    background-color: #1F2A52;
    position: relative;
    top: 650px;
    z-index: -1;
}

.footer {
    position: relative;
    top: 30vh;
    background-color: #1F2A52;
    color: #ffffff;
    padding: 40px 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.left-section {
    width: 45%;
}

.left-section .logo {
    margin-bottom: 20px;
    height: 50px;
    width: 150px;
}

.left-section p {
    margin-bottom: 20px;
    line-height: 1.6;
    font-weight: lighter;
}

.social-icons img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}



.app-links img {
    width: 120px;
    margin-right: 10px;
    margin-top: 40px;
}

.right-section {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.column {
    margin-right: 20px;
}

.column h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #ffffff;
}

.column ul {
    list-style-type: none;
    padding: 0;
}

.column ul li {
    margin-bottom: 10px;
}

.column ul li a {
    text-decoration: none;
    color: #ffffff;
}

.column ul li a:hover {
    text-decoration: underline;
}

.footer-buttons{
    position: relative;
}

.footer-buttons:hover{
    cursor: pointer;
}