<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="{%static 'images/mainLogo (2).jpg'%}">
    <link rel="stylesheet" href="{% static 'Auctionly/contactUs.css' %}">
</head>
<body>

<!-- ---------------------------------Atul-----login box-------------------------------------------- -->

    <div class="inside_menu">
        <div class="inside_menu_navbar">
            <div class="inside_menu_navbar_img"></div>
            <div class="inside_menu_navbar_close">&times;</div>
        </div>
        <div class="inside_menu_box">
            <div class="inside_menu_boxes" id="inside_menu_boxes1">
                <div class="inside_menu_boxes_content">
                    <h3>ABOUT US</h3>
                    <a href="/Auctionly/aboutauctionly.html"><p>About Auctionly</p></a>
                </div>
            </div>
            <div class="inside_menu_boxes" id="inside_menu_boxes2">
                <div class="inside_menu_boxes_content">
                    <h3>INSIGHTS</h3>
                    <p><a href="departmentAuctionly.html">Department</a></p>
                </div>
            </div>
            <div class="inside_menu_boxes" id="inside_menu_boxes3">
                <div class="inside_menu_boxes_content">
                    <h3>CONTACT US</h3>
                    <a href="/Auctionly/contactUs.html"><p>Contact Us</p></a><br>
                    <p> How To Sell <br><br>
                        How To Buy</p>
                </div>
            </div>
            <div class="inside_menu_boxes" id="inside_menu_boxes4">
                <div class="inside_menu_boxes_content">
                    <h3>QUICK LINKS</h3>
                    <p><a href="liveauction.html">Live Auctions</a><br><br>
                        <a href="upcomingauction.html">Upcoming Auctions</a><br><br>
                        <a href="pastauction.html">Past Auctions</a></p>
                </div>
            </div>
        </div>

        <div class="inside_menu_buttons">
            <div id="inside_menu_signIn">SIGN IN / SIGN UP</div>
            <div id="inside_menu_appleStore">Apple Store</div>
            <div id="inside_menu_playStore">Play Store</div>
            <div id="inside_menu_space"></div>
            <div id="inside_menu_contact"><a href="contactUs.html">CONTACT US</a></div>
        </div>
    </div>


    <!-------------------------------Arnav-Backdrdop----------------------------------------------------->
    <div class="main-nav-bar" id="main-nav-bar">
        <a href="/Auctionly/Auctionly.html"><div class="main-nav-bar-logo">
            <!------- dega icon ---------------->
        </div></a>
        <div class="main-nav-contents main-nav-contents3">EXHIBITION</div>
        <div class="main-nav-contents main-nav-contents3">AUCTIONS <i class="fa-solid fa-caret-down"></i></div>
        <div class="main-nav-contents main-nav-contents3" id="main-nav-bar-login">LOGIN &nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div class="main-nav-contents">
            <div class="search-icon-navbar">
              <!------Search-icon--------->
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        <div class="main-nav-menu">
        <div id="main_page_menu_btn" class="main-nav-menu-contents">MENU &nbsp;<i class="fa-solid fa-bars"></i></div>   
        </div>
    </div>
    <div class="neela-dabba">
        <!--------------DABBA DAAL DIA-------------------->
    </div>

    <!-------------------------------Aneesh-----search box------------------------------ --> 
    
    <div class="modal-body-container">
        <div id="modal-body">

            <div id="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" id="search-here" placeholder="Search...">
                <p> &times; </p>
            </div>

            <div id="recent-search">
                <h4 id="title">Your Recent Searches</h4>
            </div>
        </div>
    </div>



    <!-- ------------------------------------CONTACT US By ANEESH-------------------------------------------1 -->


    <div class="slide_container">
        <div class="slides"><!-- About Us Image --></div>
        <div class="slides_border"><!-- opacity waala border--></div>
        <div class="slides_content">
            <h6>REACH US</h6>
            <h3>CONTACT US</h3>
            <p id="para-1">Our specialists - in over 15 categories - are here to answer your questions and help guide you. Their contact information is listed by name, location and department here.</p>
            <p id="para-2">If you can't find what you are looking for, have any questions or require specific assistance, a Client Service representative can also connect you with the right department. Contact us via online chat, email or phone.</p>
        </div>
        
        <div id="section-contactUs">

            <div id="row">

                <div id="LEFT-SIDE">

                    <div id="head-office-info">

                        <h4 id="HEAD-OFFICE-HEADLINE"> 
                         <img src="{% static 'Auctionly/images/head-office.png' %}" alt="head-office-logo" : height="28px": width="22px" id="head-photo">HEAD OFFICE
                        </h4>

                        <div id="office-para">
                            <p>Chitkara University, Chandigarh-Patiala National Highway (NH-64), Jhansala (V), Rajpura Patiala, Punjab - 140 401</p>
                        </div>

                    </div>
                    
                </div>

                <div id="RIGHT-SIDE">

                    <div id="gallery-info">


                        <h4 id="GALLERY-HEADLINE">
                            <img src="{% static 'Auctionly/images/gallery-icon.png' %}" alt="gallery": height="25px": width="25px": id="gallery-photo">GALLERY
                        </h4>

                        <div id="gallery-para">
                            <p>Chitkara University, Chandigarh-Patiala National Highway (NH-64), Jhansala (V), Rajpura Patiala, Punjab - 140 401</p>
                        </div>


                    </div>
                    
                </div>

                <div id="bottom-side">


                    <div id="phone-info">


                        <h4 id="phone-headline">
                            <img src="{% static 'Auctionly/images/phone-icon.png' %}" alt="phone": height="25px": width="25px": id="phone-photo">PHONE
                        </h4>

                        <div id="phone-num">
                            <p>+91-9056900601<br>
                               +91-7696242466<br>
                               +91-9876175527</p>
                        </div>
                        
                    </div>


                    <div id="email-info">

                        <h4 id="email-headline">
                            <img src="{% static 'Auctionly/images/email-icon.png' %}" alt="email": height="20px": width="30px": id="email-photo">Email
                        </h4>
                        <div id="email-ids">
                            <p>management.auctionly@gmail.com</p>
                        </div>


                    </div>
                </div>
            </div>

            <div id="get-touch-form">

                <div id="form-wala-dibba">

                    <div id="form-left-side">

                        <h5 id="form-ki-heading">Lets Get In Touch</h5>
                        <p id="form-para">fill the form below to get in touch with us</p>

                        <div id="div-name">
                            <div id="name-box">
                                <div id="pic-1">
                                    <img src="{% static 'Auctionly/images/user-icon.png' %}" alt="user-icon": height="28px": width="20px" id="user-photo">
                                    <div id="name">
                                        <input type="text" placeholder="  Name" id="text-box-name-wala">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="div-email">
                            <div id="email-box">
                                <div id="pic-2">
                                    <img src="{% static 'Auctionly/images/gmail.icon.png' %}" alt="user-icon": height="28px": width="31px">
                                    <div id="email">
                                        <input type="text" placeholder="  Email ID" id="text-box-email-wala">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div id="div-phone">
                            <div id="phone-box">
                                <div id="pic-3">
                                     <img src="{% static 'Auctionly/images/call-icon.png' %}" alt="phone": height="29px": width="29px">
                                    </div>
                                </div>
                                <div id="mobile">
                                    <input type="text" placeholder="   Mobile No." id="text-box-mobile-wala">
                                </div>
                            </div>
                        </div>

                        <div id="div-ques">
                            <div id="ques-box">
                                <div id="pic-4">
                                    <img src="{% static 'Auctionly/images/queries-icon.png' %}" alt="ques": height="29px": width="29px">
                                </div>
                                <div id="ques">
                                    <input type="text" placeholder="Queries." id="text-box-ques-wala">
                                </div>
                            </div>
                        </div>

                        <div id="submit">
                            <button id="submit-button">SUBMIT</button>
                        </div>


                        

                    </div>

                </div>
            </div>








        </div>


    </div>

    <!-- -----------------------------------------footer arnav--------------------------- -->
    <br><br><br><br>
    <div class="newsletter-box">
        <div class="newsletter-box-contents">
            <div class="subscribe-text">    
                <div class="red-text-subscribe">
                    SUBSCRIBE TO
                </div>
                <div class="our-text-subscribe">
                    OUR NEWSLETTTER
                </div>
            </div>
            <div class="input-details-nl">
                <div class="wrapper">
                    <div class="input-data">
                       <input type="text" required>
                       <div class="underline"></div>
                       <label>Name</label>
                    </div>
                 </div>

                 <div class="wrapper">
                    <div class="input-data">
                       <input type="text" required>
                       <div class="underline"></div>
                       <label>Email</label>
                    </div>
                 </div>
            </div>
            <div class="submit-button-letterbox">
                <div class="button-text">
                    SUBMIT
                </div>
            </div>  
        </div>
    </div>


    <div class="neela-dabba-footer">
        <footer class="footer">
            <div class="footer-content">
                <div class="left-section">
                    <img src="/Auctionly/images/logo.png" alt="Company Logo" class="logo">
                    <p>Auctionly, with its 37 years of pioneering experience in the gifting industry is launching its first online auction. Explore products ranging from fine writing instruments, jewelry, textiles, art, and more.</p>
                    <p>The online auction is set to foster collaboration and open doors to exciting new possibilities in the world of gifting.</p><br>
                    <div class="social-icons">
                        <div class="follow-us-on-text">FOLLOW US ON</div><br>
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-youtube"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i><br>
                    </div><br><br>
                    <div class="app-links">
                        <div class="follow-us-on-text">DOWNLOAD OUR APP</div><br>
                        <i class="fa-brands fa-apple"></i>&nbsp;&nbsp;Apple Store&nbsp; |&nbsp;&nbsp;
                        <i class="fa-brands fa-google-play"></i>&nbsp;&nbsp;&nbsp;Play Store
                    </div>
                </div>
            
                <div class="right-section">
                    <div class="column">
                        <h3>KNOW MORE</h3><br><br>
                        <ul>
                            <div class="footer-buttons"><li><a href="#">Buy </a></li><br></div>
                            <div class="footer-buttons"><li><a href="#">Sell</a></li><br></div>
                            <div class="footer-buttons"><li><a href="#">FAQs</a></li><br></div>
                        </ul>
                    </div>
                    <div class="column">
                        <h3>DEPARTMENTS</h3><br><br>
                        <ul>
                            <div class="footer-buttons"><li><a href="#">Modern Indian Art</a></li><br></div>
                            <div class="footer-buttons"><li><a href="#">Jewellery</a></li><br></div>
                            <div class="footer-buttons"><li><a href="#">Furniture And Decorative Arts</a></li><br></div>
                            <div class="footer-buttons"><li><a href="#">Arts</a></li><br></div>
                            <div class="footer-buttons"><li><a href="#">Timepieces</a></li><br></div>
                            <div class="footer-buttons"><li><a href="#">Numismatics And Philately</a></li><br></div>                        
                            <div class="footer-buttons"><li><a href="#">Rare Books And Manuscripts</a></li><br></div>
                            <div class="footer-buttons"><li><a href="#">Memorabilia</a></li><br></div>
                            <div class="footer-buttons"><li><a href="#">Textiles</a></li><br></div>
                            <div class="footer-buttons"><li><a href="#">Fine Writing Instruments</a></li><br></div>
                            <div class="footer-buttons"><li><a href="#">Silver</a></li><br></div>
                            <div class="footer-buttons"><li><a href="#">Luxury</a></li><br></div>
                        </ul>
                    </div>
                    <div class="column">
                        <h3>ABOUT</h3><br><br>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <script src="{% static 'Auctionly/contactUs.js'%}"></script>

</body>
</html>