<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specialist Departments</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="{%static 'images/mainLogo (2).jpg'%}">
    <link rel="stylesheet" href="{% static 'Auctionly/departmentAuctionly.css' %}">
</head>
<body>

<!-- ---------------------------------Atul-----login box-------------------------------------------- -->
<div class="atul_login_box">
    <div class="login_main_box" id="login_main_box">
        <!-- logo text img -->
        <a href="/Auctionly/Auctionly.html"><div class="login_comp_img"></div></a>
        <!-- login content -->
        <div class="login_content">
            <span id="login_content_description">Sign Up & Login to get started</span>
            <i class="fa-solid fa-xmark" id="login_close"></i>
            <div class="login_content_heading">
                <button class="login_content_heading1">CREATE AN ACCOUNT</button>
                <button class="login_content_heading2">SIGN IN</button>
            </div>
            <!-- sign up or login form -->
            <div class="signup_box">
                <form class="form_for_signUp">
                    <input class="input_formatting" id="for_input_margin" type="tel"  placeholder="Email/Mobile Number" required>
                    <input class="input_formatting" id="login_pswd" type="password" placeholder="Enter Password" required>
                    <a href="#" id="forget_password">Forget Password?</a>
                    <p id="otp">Sign in using <b>OTP</b></p>
                    <div class="login_button_div">
                        <button id="login_button">LOGIN</button>
                    </div>
                </form>
            </div>

            <!-- create acc -->
            <div class="createAcc_box">
                
                <form class="form_for_createAcc">
                    <input class="input_formatting" id="for_input_margin_createAcc" type="text"  placeholder="Name" required>
                    <input class="input_formatting" id="for_input_margin_createAcc" type="email"  placeholder="Email" required>
                    <input class="input_formatting" id="for_input_margin_createAcc" type="tel"  placeholder="Mobile Number" required>
                    <input class="input_formatting" id="login_pswd" type="password" placeholder="Set Password" required>
                    <input style="margin-left: 5px;" id="login_checkbox" type="checkbox" required>&nbsp;<span id="login_checkbox">I agree to the <a href="#" style="color: blue;">Terms & Conditions</a></span> 
                    <div class="login_button_div">
                        <button id="login_button">GET STARTED</button>
                    </div>
                </form>
            </div>
        
        </div>
    </div>
</div>


    <div class="inside_menu">
        <div class="inside_menu_navbar">
            <div class="inside_menu_navbar_img"></div>
            <div class="inside_menu_navbar_close">&times;</div>
        </div>
        <div class="inside_menu_box">
            <div class="inside_menu_boxes" id="inside_menu_boxes1">
                <div class="inside_menu_boxes_content">
                    <h3>ABOUT US</h3>
                    <a href="/Auctionly/aboutauctionly.html"><p>About Auctionly</p></a>
                </div>
            </div>
            <div class="inside_menu_boxes" id="inside_menu_boxes2">
                <div class="inside_menu_boxes_content">
                    <h3>INSIGHTS</h3>
                    <p><a href="departmentAuctionly.html">Department</a></p>
                </div>
            </div>
            <div class="inside_menu_boxes" id="inside_menu_boxes3">
                <div class="inside_menu_boxes_content">
                    <h3>CONTACT US</h3>
                    <p><a href="contactUs.html">Contact Us</a><br><br> 
                       How To Sell <br><br>
                       How To Buy</p>
                </div>
            </div>
            <div class="inside_menu_boxes" id="inside_menu_boxes4">
                <div class="inside_menu_boxes_content">
                    <h3>QUICK LINKS</h3>
                    <p><a href="liveauction.html">Live Auctions</a><br><br>
                        <a href="upcomingauction.html">Upcoming Auctions</a><br><br>
                        <a href="pastauction.html">Past Auctions</a></p>
                </div>
            </div>
        </div>

        <div class="inside_menu_buttons">
            <div id="inside_menu_signIn">SIGN IN / SIGN UP</div>
            <div id="inside_menu_appleStore">Apple Store</div>
            <div id="inside_menu_playStore">Play Store</div>
            <div id="inside_menu_space"></div>
            <div id="inside_menu_contact"><a href="contactUs.html">CONTACT US</a></div>
        </div>
    </div>


    <!-------------------------------Arnav-Backdrdop----------------------------------------------------->
    <div class="main-nav-bar" id="main-nav-bar">
        <a href="/Auctionly/Auctionly.html"><div class="main-nav-bar-logo">
            <!------- dega icon ---------------->
        </div></a>
        <div class="main-nav-contents main-nav-contents3">EXHIBITION</div>
        <div class="main-nav-contents main-nav-contents3">AUCTIONS <i class="fa-solid fa-caret-down"></i></div>
        <div class="main-nav-contents main-nav-contents3" id="main-nav-bar-login">LOGIN &nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div class="main-nav-contents">
            <div class="search-icon-navbar">
              <!------Search-icon--------->
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        <div class="main-nav-menu">
        <div id="main_page_menu_btn" class="main-nav-menu-contents">MENU &nbsp;<i class="fa-solid fa-bars"></i></div>   
        </div>
    </div>
    <div class="neela-dabba">
        <!--------------DABBA DAAL DIA-------------------->
    </div>

    <!-------------------------------Aneesh-----search box------------------------------ --> 
    
    <div class="modal-body-container">
        <div id="modal-body">

            <div id="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" id="search-here" placeholder="Search...">
                <p> &times; </p>
            </div>

            <div id="recent-search">
                <h4 id="title">Your Recent Searches</h4>
            </div>
        </div>
    </div>

<!----------------------departments arnav----------------------------->

<div class="slide_container">
    <div class="slides"><!-- About Us Image --></div>
    <div class="slides_border"><!-- opacity waala border--></div>
    <div class="slides_content">
        <div class="department-heading-1">
            <h3>DEPARTMENT</h3>
        </div>
        <div class="department-heading-2">
            <h6>DEPARTMENTS</h6>
        </div>
        <div class="para-department"><p>With 1 month of experience, Auctionly is a premier platform catering to buyers<br>
           and sellers of luxury products, stationery, Automobiles etc. With the expanding and <br>
           diverse needs of our clients, we too have evolved to now provide an auction <br>
           platform that showcases a meticulously curated assemblage of limited <br>
           edition and rare collectibles.<br><br>

           With over 10 specialist departments, Giftex offers a seamless service for<br>
           buying and selling Art, jewellery, Watches, Textiles, Memorabilia, Property,<br>
           Furniture and Decorative, Writing Instruments, Books, Luxury, Natural History and<br>
           Automobiles.</p>
        </div>   
    </div>
</div>

<div class="photos-department">
    <div class="line-1">
        <img src="/Auctionly/images/mordernPainting.png">
        <img src="/Auctionly/images/jewellert.png">
    </div>
    <div class="line-1-text">
        <div class="line-text-1">Modern Indian Art</div>
        <div class="line-text-2">&nbsp;&nbsp;Jewellery</div>
    </div>
    <br><br>
    <div class="line-2">
        <img src="/Auctionly/images/furniture.png">
        <img src="/Auctionly/images/timepieces.png">
    </div>
    <div class="line-2-text">
        <div class="line-text-1">Furniture And Decorative Arts</div>
        <div class="line-text-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Timepieces</div>
    </div>
    <br><br>
    <div class="line-3">
        <img src="/Auctionly/images/department-automobile.jpg">
        <img src="/Auctionly/images/rare books.png">
    </div>
    <div class="line-3-text">
        <div class="line-text-1">Automobiles</div>
        <div class="line-text-2" style="position: relative; left: 12vw;">Rare books And Manuscripts</div>
    </div>
    <br><br>
    <div class="line-4">
        <img src="/Auctionly/images/textiles.png">
        <img src="/Auctionly/images/memorablia.png">
    </div>
    <div class="line-4-text">
        <div class="line-text-1">Textiles</div>
        <div class="line-text-2">Memorabilia</div>
    </div>
    <br><br>
    <div class="line-5">
        <img src="/Auctionly/images/fine-writing.png">
        <img src="/Auctionly/images/department-property.jpeg">
    </div>
    <div class="line-5-text">
        <div class="line-text-1">Fine Writing Instruments</div>
        <div class="line-text-2">&nbsp;&nbsp;&nbsp;&nbsp;Property</div>
    </div>
    <br><br>
    <div class="line-6">
        <img src="/Auctionly/images/luxury.png">
        <img src="/Auctionly/images/natural history.png">
    </div>
    <div class="line-6-text">
        <div class="line-text-1">Luxury</div>
        <div class="line-text-2">Natural History</div>
    </div>    
</div>


<div class="aise-hee-scroll-wala"></div>







<!-------------footer----------------------------->
<br><br><br><br>
<div class="newsletter-box">
    <div class="newsletter-box-contents">
        <div class="subscribe-text">    
            <div class="red-text-subscribe">
                SUBSCRIBE TO
            </div>
            <div class="our-text-subscribe">
                OUR NEWSLETTTER
            </div>
        </div>
        <div class="input-details-nl">
            <div class="wrapper">
                <div class="input-data">
                   <input type="text" required>
                   <div class="underline"></div>
                   <label>Name</label>
                </div>
             </div>

             <div class="wrapper">
                <div class="input-data">
                   <input type="text" required>
                   <div class="underline"></div>
                   <label>Email</label>
                </div>
             </div>
        </div>
        <div class="submit-button-letterbox">
            <div class="button-text">
                SUBMIT
            </div>
        </div>  
    </div>
</div>


<div class="neela-dabba-footer">
    <footer class="footer">
        <div class="footer-content">
            <div class="left-section">
                <img src="/Auctionly/images/logo.png" alt="Company Logo" class="logo">
                <p>Auctionly, with its 1 month of pioneering experience in the Online Auction industry. Explore products ranging from fine writing instruments, jewelry, textiles, art, and more.</p>
                <p>The online auction is set to foster collaboration and open doors to exciting new possibilities in the world of gifting.</p><br>
                <div class="social-icons">
                    <div class="follow-us-on-text">FOLLOW US ON</div><br>
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i><br>
                </div><br><br>
                <div class="app-links">
                    <div class="follow-us-on-text">DOWNLOAD OUR APP</div><br>
                    <i class="fa-brands fa-apple"></i>&nbsp;&nbsp;Apple Store&nbsp; |&nbsp;&nbsp;
                    <i class="fa-brands fa-google-play"></i>&nbsp;&nbsp;&nbsp;Play Store
                </div>
            </div>
    
            <div class="right-section">
                <div class="column">
                    <h3>KNOW MORE</h3><br><br>
                    <ul>
                        <div class="footer-buttons"><li><a href="#">Buy </a></li><br></div>
                        <div class="footer-buttons"><li><a href="#">Sell</a></li><br></div>
                        <div class="footer-buttons"><li><a href="#">FAQs</a></li><br></div>
                    </ul>
                </div>
                <div class="column">
                    <h3>DEPARTMENTS</h3><br><br>
                    <ul>
                        <div class="footer-buttons"><li><a href="#">Modern Indian Art</a></li><br></div>
                        <div class="footer-buttons"><li><a href="#">Jewellery</a></li><br></div>
                        <div class="footer-buttons"><li><a href="#">Furniture And Decorative Arts</a></li><br></div>
                        <div class="footer-buttons"><li><a href="#">Arts</a></li><br></div>
                        <div class="footer-buttons"><li><a href="#">Timepieces</a></li><br></div>
                        <div class="footer-buttons"><li><a href="#">Automobiles</a></li><br></div>                        
                        <div class="footer-buttons"><li><a href="#">Rare Books And Manuscripts</a></li><br></div>
                        <div class="footer-buttons"><li><a href="#">Memorabilia</a></li><br></div>
                        <div class="footer-buttons"><li><a href="#">Textiles</a></li><br></div>
                        <div class="footer-buttons"><li><a href="#">Fine Writing Instruments</a></li><br></div>
                        <div class="footer-buttons"><li><a href="#">Property</a></li><br></div>
                        <div class="footer-buttons"><li><a href="#">Luxury</a></li><br></div>
                    </ul>
                </div>
                <div class="column">
                    <h3>ABOUT</h3><br><br>
                    <ul>
                        <li><a href="#">Who We Are</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>

<script src="javascriptAtul.js"></script>

   
</body>
</html>