<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Sent</title>
    <style>
        .mess{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            text-align: center;
            padding: 1rem;
        }

        .mess button{
            padding: 10px;
            border: none;
            border-radius: 5px;
            background: linear-gradient(to right, #b45156 0%, #e74b52 100%);
        }

    </style>
</head>
<body>
    <div class="mess">
        <h2>Email Sent!!</h2>
        <p>We have sent you a verification link on your gmail. <br> Check your inbox.</p>
        <a href="sign_in"><button>LOGIN</button></a>
    </div>
</body>
</html>