*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    letter-spacing: .6px;
}

.login_main_box{
    height: 473px;
    width: 716px;
    background-image: url(/Auctionly/images/login_background.png);
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 16px 50px 16px;
    display: none;
}

.login_content{
    height: 473px;
    width: 469px;
    padding: 0px 12px 0px 12px;
    margin-left: 185px;
}

#login_content_description{
    color: #585858;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .6px;
}

#login_close{
    position: absolute;
    top: 3%;
    right: 5%;
    font-size: 25px;
    color: #585858;
    cursor: pointer;
}

.login_content_heading{
    display: flex;
    position: relative;
    top: 50px;
}

.login_content_heading button{
    text-align: center;
    width: 234px;
    height: 37px;
    background-color: transparent;
    border: none;
    color: #ababab;
    border-bottom: 1px solid #ababab;
    cursor: pointer;
}

#for_input_margin{
    margin-bottom: 25px;
}

.login_content_heading button:focus{
    color: #2d2d2d;
    border-bottom: 2px solid #e74b52;
}

form input{
    border: none;
    height: 60px;
    width: 470px;
    font-size: 16px;
    position: relative;
    top: 80px;
    background-color: #ffffff;
    margin-bottom:10px ;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-indent:35px ;
}

form input:focus{
    border: none;
    outline: none;
}

.login_button_div{
    position: relative;
    top: 115px;
    height: 117px;
    display: flex;
    justify-content: center;
    align-items: end;
}

#login_button{
    height: 50px;
    width: 270px;
    border-radius: 15px;
    border: none;
    padding: 0px 30px 0px 30px;
    color: #ffffff;
    font-weight: 600;
    background: linear-gradient(to right, #b45156 0%, #e74b52 100%);
    cursor: pointer;
}

#forget_password{
    color: #b45156;
    font-size: 12px;
    position: relative;
    top: 90px;
    left: 350px;
    text-decoration: none;
}

#otp{
    position: relative;
    top: 145px;
    left: -5px;
    color: #2d2d2d;
    font-size: 14px;
    text-align: center;
    letter-spacing: .7px;
}


.inside_menu{
    height: 100vh;
    width: 100%;
    display: none;
}
.inside_menu_navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12%;
    width: 100%;
}

.inside_menu_navbar_img{
    height: 50%;
    width: 9%;
    background-color: black;
    position: relative;
    left: -40%;
    color: white;
}

.inside_menu_navbar_close{
    font-size: 2.4rem;
    color: black;
    position: relative;
    right: -41%;
}

.inside_menu_navbar_close:hover{
    cursor: pointer;
}

.inside_menu_box{
    margin-top: 2vh;
    margin-left: 4vh;
    display: flex;
    height: 42vh;
    width: 96%;
}

.inside_menu_boxes{
    height: 100%;
    width: 25%;
    margin: 1px;
    background-color: #EAEEF2;
}

.inside_menu_boxes h3{
    color: #B45156;
}

.inside_menu_boxes p{
    position: relative;
    top: 29px;
    color: #7E8082;
    font-weight: 500;
    font-size: 16px;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.inside_menu_boxes_content{
    margin: 48px 6px 48px 48px;
    height: 60%;
    width: 80%;
}

.inside_menu_buttons{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 10%;

}

.inside_menu_buttons div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 216px;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    font-size: 16px;
    font-weight: 600;
    background-color: #2d2d2d;
    color: white;
}

#inside_menu_signIn{
    background: linear-gradient(to right, #b45156 0%, #e74b52 100%);
}

#inside_menu_space{
    background-color: transparent;
    width: 20%;
}

/*********************ARNAV KA CSS ********************************** */

.main-nav-bar{
    position: relative;
    height: 82px;
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.main-nav-contents{
    left: 20%;
    position: relative;
    justify-items: center;
}

.main-nav-contents:hover{
    color: #EC1B24;
    cursor: pointer;
    font-weight: 600;   
}


.main-nav-menu{
    height: 100%;   
    background-color: #1F2A52;
    color: #ffffff;
    position: relative;
    left: 27.7%;
    width: 190px;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: -1;
}

.main-nav-menu:hover{
    cursor: pointer;
    
}

.main-nav-bar-logo{
    height: 30px;
    width: 70px;
    background-color: beige;
    position: relative;
    right: 20%;
    font-size: xx-small;
}

.neela-dabba{
    background-color:#1F2A52 ;
    height: 550px;
    width:442px ;
    position: relative;
    bottom: 82px;
    z-index: -1;
}



/* ----------------------------------Aneesh -styling for search box ------------------------------ */


#modal-body{
    height: 700px;
    width: 550px;
    background-color: #e9e7ea;
    padding: 30px 25px 30px 25px;
    margin-left: 919px;
    display: none;
}

#recent-search{
    height: 39px;
    width: 510px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-top: 15px;
    
}

#search{
    height: 40px;
    width: 551px;
    border-bottom: 2px dashed black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#search-here{
    height: 40px;
    width: 450px;
    border-radius: 4px;
    background-color:#e9e7ea;
    border: none;
    outline: none;
}

#cross-sign{
    font-size: 2rem;
}
